<!DOCTYPE html>
<html>
<head th:insert = "~{head.html}">
    <title>±Title±</title>
</head>
<body>
    <div class="container">
        <div th:insert = "~{navbar}"></div>
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">As Morbius Returns To Theaters, Jared Leto Gets In On The Comic Book
                        Movie’s Biggest Meme</h5>
                    <p class="card-text">Sony’s Morbius has had an “interesting” impact on the moviegoing public
                        thus far. The Jared Leto-led comic book movie received negative reviews ahead of its release
                        in April, and some fans later took to social media to express their disdain as well.
                        However, the film overcame negative reviews to top the box office in its opening weekend
                        and, more recently, the viral “Morbin’ Time!” meme has caused the movie to go viral.
                        This notoriety arguably earned the production its recently announced second theatrical
                        stint. And on the heels of that news, Leto is getting in on the meme madness himself.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Erik Swann </span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ahead Of His Eighth Child’s Birth, Nick Cannon Gets Real About How
                        Involved He Is In His Kids’ Lives</h5>
                    <p class="card-text">Nick Cannon has garnered a bit of a reputation in the eyes of the public
                        for being a very fertile man. He’s already had seven kids in total, four of which were born
                        in the last two years alone. And the birth of baby number eight is soon on the way. Ahead
                        of the new addition to the Cannon Kids Club, though, the former Nickelodeon star got real
                        about how involved he actually is in all of his kids’ lives.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Lauren Vanderveen</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Denmark substitute Andreas Cornelius scored twice as they came from behind
                        to beat holders France in the Nations League at the Stade de France.</h5>
                    <p class="card-text">Karim Benzema opened the scoring with a stunning effort, cutting in from
                        the right wing before dummying his way past three defenders and slotting in.
                        Cornelius volleyed in Pierre-Emile Hojbjerg's ball over the top to level.
                        And the 60th-minute substitute won the game when he ran on to a long ball before firing in from
                        a tight angle.
                        It was the first time the former Cardiff striker has scored twice in an international game.
                        Both sides had several chances in a lively opening game to group A1. In the first half Denmark's
                        Joakim Maehle hit the outside of the post and Benzema had a goal disallowed for offside.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Andreas Cornelius</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">When Devin Haney fights Australia's George Kambosos for the undisputed
                        lightweight world title in Melbourne on Saturday, he will be attempting to deliver the crowning
                        achievement of what could prove the sport's most successful father-son team.</h5>
                    <p class="card-text">Teofimo Lopez Jnr became unified lightweight champion under his father's
                        tutelage before being beaten by George Kambosos in November. Now WBC champion Haney has the
                        chance to claim the belts Lopez lost to Kambosos.
                        The unbeaten American, however, was originally forced to travel to the other side of the world
                        for his most significant fight without his father, trainer and "best friend" Bill, who was
                        initially refused a visa because of a conviction dating back to 1992 - before Devin had even
                        been born.
                        Bill Haney was 22 - one year younger than Devin is now - and living in Oakland, California when
                        he was imprisoned for 40 months for possession and conspiracy to distribute two kilograms of
                        cocaine.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Declan Warrington</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Johnny Depp's online fandom is toxic toward domestic abuse survivors, some
                        online creators warn</h5>
                    <p class="card-text">In the last few months, audio clips from the defamation trial involving Amber
                        Heard and Johnny Depp went viral as trending TikTok sounds.
                        "Users were lip-syncing to an audio of Amber's testimony and using it to mock her," said Lauren,
                        a creator known as gothamshitty, who did not want her last name used out of fear of harassment
                        from Depp's supporters.
                        "Specifically they were using an audio of her recounting how Johnny had raped her," Lauren
                        continued. "These users were responding to the audio by declaring that what Amber was describing
                        was not rape but 'every woman's dream.' That sickened me."
                        Until that point a few weeks ago, Lauren had "hesitated" to post about the trial, but she said
                        the trend was "too disgusting, misogynistic and disrespectful to survivors everywhere" to ignore.

                        In a video she posted in May, Lauren voiced support for Heard, citing previous allegations of
                        abusive behavior from Depp and his 2020 defamation trial in the United Kingdom. She linked the
                        widespread public disdain of Heard to the overturning of Roe v. Wade and said the social media
                        frenzy surrounding the trial "reflects the immense amount of misogyny and hatred of women that
                        is so deeply ingrained in society."</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Morgan Sung</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
