<!DOCTYPE html>
<html>
<head th:insert = "~{head.html}">
    <title>±Title±</title>
</head>
<body>
    <div class="container">
        <div th:insert = "~{navbar.html}"></div>
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">As Morbius Returns To Theaters, Jared Leto Gets In On The Comic Book
                        Movie’s Biggest Meme</h5>
                    <p class="card-text">Sony’s Morbius has had an “interesting” impact on the moviegoing public
                        thus far. The Jared Leto-led comic book movie received negative reviews ahead of its release
                        in April, and some fans later took to social media to express their disdain as well.
                        However, the film overcame negative reviews to top the box office in its opening weekend
                        and, more recently, the viral “Morbin’ Time!” meme has caused the movie to go viral.
                        This notoriety arguably earned the production its recently announced second theatrical
                        stint. And on the heels of that news, Leto is getting in on the meme madness himself.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Erik Swann </span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ahead Of His Eighth Child’s Birth, Nick Cannon Gets Real About How
                        Involved He Is In His Kids’ Lives</h5>
                    <p class="card-text">Nick Cannon has garnered a bit of a reputation in the eyes of the public
                        for being a very fertile man. He’s already had seven kids in total, four of which were born
                        in the last two years alone. And the birth of baby number eight is soon on the way. Ahead
                        of the new addition to the Cannon Kids Club, though, the former Nickelodeon star got real
                        about how involved he actually is in all of his kids’ lives.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Lauren Vanderveen</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Goodfellas, Cop Land and Marriage Story: Remembering Ray Liotta’s best performances
                    </h5>
                    <p class="card-text">Actor Ray Liotta, a legend for many due to his role in the hit film 'Goodfellas',
                        died on Thursday in the Dominican Republic aged 67.

                        The news left millions of fans heartbroken, with the film industry losing one of the greatest
                        “tough guys” and gangsters on the big screen. But though Liotta could play a great mobster, his
                        talent went so far beyond that.

                        To honour his career, here is a recap of all his best performances.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Giulia Carbonaro</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cannes Film Festival: 'War Pony' poodle gets its paws on Palm Dog award</h5>
                    <p class="card-text">As filmmakers wait to learn who will win cinema’s top prize this weekend, the
                        Cannes Palme D’Or, perhaps an even more popular award was handed out today – the Palm Dog, for best
                        performance by a dog in a movie.

                        While Cannes is celebrating its 75th anniversary, the Palm Dog turned 21 years old this year.
                        What was started as a low-key event by British journalist Toby Rose and his critic friends is now a
                        ceremony on the beach with global media in attendance, plus sponsors, as well as an embossed collar
                        for the prize-winning pup - but still retains its all its sense of fun.

                        This year’s winner is a silver poodle from the movie War Pony, directed by actress Riley Keough and
                        Australian filmmaker Gina Gammell. The film has been playing in this year’s Un Certain Regard
                        section of the festival.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Euronews</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cannes Film Festival: 'Father and Soldier' shines a light on colonialism and
                        imperialism in France</h5>
                    <p class="card-text">The story of a young Senegalese man captured in his village in 1917 to serve
                        alongside the French in World War One has conquered the public on its opening night at the Cannes Film Festival.

                        "Tirailleurs" features Omar Sy, star of the Netflix series Lupine, as young Thierno's
                        (Alassane Diong) father,  Bakary Diallo, who also enlists in order to watch over his son.

                        The period drama, by first-time director Mathieu Vadepied is also known as 'Father and Soldier'
                        and was shot using a hand-held camera.


                        It shows the horror of war for these men, and thousands of African fighters, who were torn from
                        their native Africa to fight on the front line in a cold and unknown region, under the French uniform.

                        "We don't have the same memory but we have the same story", said Sy, who is also co-producer of
                        the film, at the opening night.</p>
                    <p class=".fs-6">Author: <span class="fw-bolder">Katy Dartford</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
