<nav class="navbar navbar-expand-lg navbar-primary-#fff bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/home'}">NEWS.COM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls
                ="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/home'}">All News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/indexpage'}">Culture News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/sport'}">Sport News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/cinema'}">Cinema News</a>
                </li>
            </ul>
        </div>
    </div>
</nav>