<!DOCTYPE html>
<html>
<head th:insert = "~{head.html}">
    <title>±Title±</title>
</head>
<body>
    <div>
        <div class="container">
            <div th:insert = "~{navbar}"></div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Georgian talent triumphs in epic first day of 2022 Tbilisi Grand Slam</h5>
                        <p class="card-text">Judo was welcomed back to Georgia in typical fashion, with a passionate
                            crowd full of riled-up fans.

                            In the under 48 kilogram category, Melanie Legoux Clement took her first Grand Slam gold,
                            celebrating with her coach, and former Olympic Champion, Lucie Decosse.

                            She was awarded her medal by Mr Mohammed Meridja, IJF’s Education & Coaching Director.</p>
                        <p class=".fs-6">Author: <span class="fw-bolder">Mario Bowden</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liverpool fans pepper-sprayed by French police in stadium entry chaos </h5>
                        <p class="card-text">Riot police fired tear gas and pepper spray at Liverpool supporters forced
                            to endure long waits to get into the Champions League final amid logistical chaos on Saturday.

                            The start of the showpiece game of the European football season, in which Liverpool lost
                            1-0 to Real Madrid, was delayed for 37 minutes and kicked off as security was still
                            struggling with the flow of frustrated supporters into the Stade de France.

                            UEFA claimed there were thousands of ticketless fans trying to gain access to the
                            80,000-plus capacity French national stadium but it did not identify where they were from.


                            French Interior Minister Gérald Darmanin claimed stewards were assaulted by the supporters
                            of the English side who forced entry without tickets or with counterfeit tickets. </p>
                        <p class=".fs-6">Author: <span class="fw-bolder">Euronews</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Best in Europe! Real Madrid beat Liverpool to win Champions League final </h5>
                        <p class="card-text">Real Madrid beat Liverpool 1-0 to win Europe's premier football contest for
                            a record 14th time.

                            A goal from Vinícius Júnior just before the hour mark sealed the Spanish side's triumph in
                            the Champions League final.

                            Goalkeeper Thibaut Courtois was instrumental - making a string of fine saves to deny
                            Jurgen Klopp's men.


                            The triumph in Paris capped a remarkable run in the Champions League for Madrid, who came
                            from behind to knock out Chelsea and Manchester City.

                            At one stage, Liverpool were hoping to complete an unprecedented quadruple, after winning
                            both domestic cup competitions.
                        </p>
                        <p class=".fs-6">Author: <span class="fw-bolder">Euronews</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">West Ham footballer Kurt Zouma pleads guilty abusing his pet cat.</h5>
                        <p class="card-text">West Ham United footballer Kurt Zouma has pleaded guilty to animal abuse
                            charges after he was filmed harming his pet cat.

                            The 27-year-old France international admitted to two offences under the Animal Welfare Act
                            at Thames Magistrates’ Court on Tuesday.

                            In February, Zouma's younger brother, Yoan, had filmed him kicking his Bengal cat across his
                            kitchen, before throwing a pair of shoes at it and slapping its head.


                            The footage of the abuse was shared on the social media platform Snapchat to widespread outrage.

                            Prosecutor Hazel Stevens told the court that Zouma had said he would "kill" his cat for
                            apparently damaging a chair in his home.</p>
                        <p class=".fs-6">Author: <span class="fw-bolder">Euronews</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lynda Carter shuts down claim that Wonder Woman isn't a 'super hero for
                            gays'Group G Preview - FIFA World Cup Qatar 2022: Will Brazil shine again?</h5>
                        <p class="card-text">It's almost impossible to imagine a World Cup without Brazil.

                            They are the only country to have played in every tournament since it began in 1930.
                            And are the most successful nation, having lifted football's most prestigious trophy five times.

                            However, it has been 20 years since they or any South American nation won the World Cup.
                            Despite their name being synonymous with winning football, they will travel to Qatar perhaps
                            more in hope than expectation.</p>
                        <p class=".fs-6">Author: <span class="fw-bolder">Euronews</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
